/*Carrusel*/
#carrusel-servicios {
    max-width: 70%; /* Reduzca el ancho al 50% de su contenedor */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
}

#carouselExampleCaptions {
    max-width: 100%; /* Asegura que el carrusel no se desborde del contenedor */
}

.carousel-inner {
    height: 95vh; /* Reduzca la altura a la mitad del viewport */
}

.carousel-item img {
    max-width: 100%;
    height: auto; /* Hace que las imágenes sean responsivas */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para resaltar el texto */
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/*Color de fondo*/
body {
    background-color: rgba(254, 250, 224, 0.5); /* Fondo casi blanco */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    height: 100vh; /* El cuerpo ocupa el 100% del alto del viewport */
}

main {
    padding: 20px; /* Añade relleno para mejorar la apariencia de la sección principal */
}