@model BankAccount

@{
    ViewData["Title"] = "Estado de cuenta";
}

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />

    <div class="card" style="width: 18rem;">
        <h2>@ViewData["Title"]</h2>
        <div class="card-body">
            <h4>Cuenta de ahorro</h4>
            <table class="table table-borderless">
                <tr>
                    <td>Número de cuenta:</td>
                    <td></td>
                    <td></td>
                    <td>@Model.AccountNumber</td>
                </tr>
                <tr>
                    <td>Saldo disponible:</td>
                    <td></td>
                    <td></td>
                    <td>$@Model.AccountAmount</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="btn-group" style="margin-top: 2rem;">
        <a type="button" asp-action="Edit" asp-route-IdAccount="@Model.IdAccount" class="btn btn-success" >Transferencias</a>
        <a type="button" asp-action="Transferencias" asp-route-IdAccount="@Model.IdAccount" class="btn btn-primary" >Lista de Transferencias</a>
        <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cerrar Sesión</a>
    </div>
